.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container > div {
  width: 100%;
}

.img-container {
  width: 100%;
  border: none;
}

.car-features {
  width: 100%;
}

.car-features > header {
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.car-features > .card-body > .card-text {
  text-align: center;
}

strong {
  font-weight: 800;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
}

.links > div {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.links > button {
  width: 80%;
  align-self: center;
}

.link-back {
  padding: 1rem 1rem 1rem 2.5rem;
  border-radius: 0 45% 45% 0;
  margin: auto;
  background: goldenrod;
  color: white;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 10%;
}

@media screen and (min-width: 600px) {
  .details-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .link-back {
    position: absolute;
    left: 200px;
    top: 80%;
  }
}

@media screen and (min-width: 600px) and (max-width: 770px) {
  .link-back {
    left: 10px;
  }
}
