li {
  list-style: none;
}

@media screen and (min-width: 600px) {
  .card-item-to-delete {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    height: 25vh;
  }

  .card-item-to-delete > img {
    width: auto;
    height: auto;
  }

  .container-list-to-delete div > ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
    transition: transform 0.3s ease;
  }

  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* just make scrollbar invisible */
  }

  ::-webkit-scrollbar-thumb {
    background: none;
  }
}
